// ==========================================================================
// > Brand Colors
// ==========================================================================
// Define brand colors
$yellow : #f9e01d;
$sand: #ffd10d;
$island: #f9edb4;

$blue : #04a6e1;
$lblue: #accdd9;
$ocean: #0074c8;
$marine: #6b93a2;
$sky: #d6f0f9;
$wave: #0074c8;


$teal: #009382;
$orange: #ff9600;
$brown: #4c463e;
$gravel: #262626;


// ==========================================================================
// > Shadows
// ==========================================================================

// ==========================================================================
// > Gradients
// ==========================================================================

// ==========================================================================
// > Duotones
// ==========================================================================






