// ==========================================================================
// > Layouts / Flex
// ==========================================================================
%flex{
	display: flex;
}


%horizontal-layout{
	@extend %flex;
	flex-direction: row;
}

%vertical-layout{
	@extend %flex;
	flex-direction: column;
}


// ==========================================================================
// > Flex Ratio
// ==========================================================================
%flex-1 {
	flex: 1;
}

%flex-2 {
	flex: 2;
}

%flex-3 {
	flex: 3;
}

