// ==========================================================================
// > Sizes
// ==========================================================================
//These are common size properties used across the project

// Container-relative
%fullwidth	{	width: 100%;			}
%fullheight	{	height: 100%;			}

// Viewport-relative
%fullvw		{	width: 100vw;			}
%fullvh		{	height: 100vh;			}

// Box-sizing
%border-box	{	box-sizing: border-box;	}


* 			{	@extend %border-box;	}

html{	
	padding: 0px; 
	margin: 0px; 
}