// ==========================================================================
// > Font Sizes
// ==========================================================================
// These are the default sizes. Other sizes may be added as needed
// Base font size is the default size to be used all throughout the website. This size is optimized for mobile and desktop display
$base-fontsize: 16px;

html, body{ 
    font-size: $base-fontsize; 
    line-height: 1.1em;
}

// Declare other sizes here


